.menu{
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #333;
    color: whitesmoke;
    float: left;
}
.divider {
	height:2px;
    background: whitesmoke;
    border-bottom:1px solid #313030;
}
.logo{

}
.link a{
    color: whitesmoke;
}
.link a:hover{
    color: whitesmoke;
    background-color: #262626;
}
.content{
   float: left;
}
.user_info{
    width: 250px;
    display: inline-block;
    float: left;
    position: absolute;
    right: 0px;
    background-color: #333;
    position: absolute;
    top: 0;
    bottom: 0;
    color: whitesmoke;
}
