body{
    background: #333333;
    color: white;
    width: 100%;
}

input{
    margin-bottom: 25px;
}

.form{
    width: 22%;
    margin-top: 80px;
    padding-top: 80px;
    color: white;
    text-shadow: 2px 2px 2px #505050;
}
.button{
    margin-bottom: 10px;
    margin-top: 30px;
    color: white;
}
.info{
 	font-size: 13px;
}
	.info a{
		color: white;
        text-shadow: 2px 2px 2px #505050;
	}
        .info a:hover{
            text-decoration: none;
            color: 	#C0C0C0;
        }
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.space{
    margin-bottom: 50px;
    margin-top: 30px;
}