{% extends "social_school/base.html" %}

{% block title_block %}Group - {{ group.name }}{% endblock title_block %}

{% block body_block %}
<h1>{{ group.name }}</h1>
<h2> Member Count: {{ group.members.count }}</h2>

<div class="container">
  {% if user in group.members.all %}
    <a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-lg btn-fill btn-danger">
      <span class="glyphicon glyphicon-remove-circle"></span>Leave
    </a>
  {% else %}
    <a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-lg btn-fill btn-success">
      <span class="glyphicon glyphicon-ok-circle"></span>Join
    </a> {# TODO: We might want to check if the group is 'joinable' or private. #}
  {% endif %}
</div>
{% endblock body_block %}
