{% extends "social_school/base.html" %}

{% block body_block %}
    <h1>{{ group.name }}</h1>

      <form method="POST">
        {% csrf_token %}

        <label for="inputTitle" class="sr-only">Title</label>
        <input type="text" id="inputTitle" class="form-control" name="title" placeholder="Title" required autofocus>

        <label for="inputText" class="sr-only">Text</label>
        <input type="text" id="inputText" class="form-control" name="text" placeholder="Text" required>

        <button class="btn btn-lg btn-block btn-success" type="submit" name="post">Post</button>
      </form>

    {% for post in group.posts.all %}
        <h2>{{ post.author.username }} <small>{{ post.date }}</small></h2>
        <h3>{{ post.title }}</h3>
        <h3>{{ post.text }}</h3>
        <h4>Comments:</h4>
        <h4>{{ post.comments.1 }}</h4>
        <a href="{% url 'groups:post_details' post.id %}">View All</a>
    {% endfor %}
{% endblock body_block %}