{% extends "social_school/base.html" %}

{% block body_block %}
    <a href="{% url 'groups:add_user' group.slug %}" class="btn btn-md btn-fill btn-warning">
        <span class="glyphicon glyphicon-plus-sign"></span> Add user</a>

    <h1>{{ group.name }}</h1>

      <form method="POST">
        {% csrf_token %}

        <label for="inputTitle" class="sr-only">Title</label>
        <input type="text" id="inputTitle" class="form-control" name="title" placeholder="Title" required autofocus>

        <label for="inputText" class="sr-only">Text</label>
        <input type="text" id="inputText" class="form-control" name="text" placeholder="Text" required>

        <button class="btn btn-lg btn-fill btn-success" type="submit" name="post">Post</button>
      </form>

    {% for post in group.posts.all reversed %}
        {% include 'groups/partials/post_template.html' %}
    {% endfor %}

    <div class="members_list">
        {% for member in group.memberships.all %}
            <h3>@{{ member.user }}</h3>
            {% empty %}
        {% endfor %}
    </div>
{% endblock body_block %}