{% extends "social_school/base.html" %}

{% block body_block %}
<div class="container">
	<div class="list-group">
		{% for group in group_list %}
		  <a class="list-group-item" href="{% url 'groups:index' slug=group.slug %}">
			     <h3 class="list-group-item-heading">{{ group.name }}</h3>
			<div class="list-group-item-text">
				{{ group.description_html|safe }}
				<div class="row">
					<span class="badge">{{ group.members.count }}</span> member{{ group.members.count|pluralize }}
				</div>
			</div>
		</a>
		{% endfor %}
	</div>
</div>
{% endblock body_block %}


