{% extends 'accounts/base.html' %}

{% block title_block %}Password Reset{% endblock title_block%}

{% load staticfiles %}
{% block head %}
    {{block.super}}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts_templates_style.css' %}"/>
{% endblock head %}

{% block body_block %}
    <div class="form">
          <form class="form-signin" method="post">
              {% csrf_token %}
              <h2 class="form-signin-heading space">Please send your e-mail:</h2>

              <label for="inputEmail" class="sr-only">Email address</label>
              <input type="text" id="inputEmail" class="form-control" name="email" placeholder="E-mail" required>

              <button class="btn btn-lg btn-block btn-success button" type="submit">Send</button>
          </form>

          <p align="center" class="info footer">
              <a href="{% url 'accounts:login' %}"> Login</a>
          </p>
    </div>
{% endblock body_block %}