{% extends 'accounts/base.html' %}

{% block title_block %}Password Reset{% endblock %}

<!-- Custom style for this template -->
<link rel="stylesheet" type="text/css" href="{% static 'email_activation_style.css' %}"/>

{% block content_block %}
    <div class="alert alert-success container" role="alert" style="margin-top: 30px">
        <h5><strong>Well done!</strong> You successfully Activate your account! <a class="link" href="{% url 'accounts:login' %}">Login</a>.</h5>
    </div>
{% endblock %}