{% extends 'accounts/base.html' %}

{% block title_block %}Register{% endblock title_block%}

{% load staticfiles %}
{% block head %}
    {{block.super}}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts_templates_style.css' %}"/>
{% endblock head %}

{% block body_block %}
    <div class="form container">
      <form class="form-signin" method="post">
        {% csrf_token %}

        <h2 class="form-signin-heading space">Please sign up</h2>

        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" name="username" placeholder="Username" required autofocus>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" class="form-control" name="email" placeholder="E-mail" required>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>

        <button class="btn btn-lg btn-block btn-success button" type="submit">Sign up</button>

        <p align="center" class="info footer">
            <a href="{% url 'accounts:login' %}">Login</a>
        </p>
      </form>
    </div>
{% endblock body_block%}